body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 357px;
    width: 1349px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 25px 25px 25px;
}
.nav-item {
    margin-top: 15px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
}
.nav-item.nav-icon {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-right: 15px;
}
.round-circle {
    height: 40px;
    margin-top: 7px;
}
.icon {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.icon-2 {
    margin-top: 160px;
    height: 20px;
    width: 20px;
    color: rgb(26, 13, 171);
}
.section {
    display: block;
    padding-top: 25px;
    position: relative;
    font-size: 13px;
}
.search {
    cursor: text;
    display: inline-block;
    position: relative;
    margin-right: 50px;
    padding-top: 25px;
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width: 560px;
    display: flex;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 5px;
    background-attachment:scroll;
    background-clip:border-box;
    background-origin:padding-box;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
    border: 1px solid rgb(223, 225, 229);
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    font-family:arial, sans-serif;
    font-size: 13px;
    height: 39px;
}
.search-sym {
    align-items:center;
    display:flex;
    font-size:13px;
    height: 20px;
    margin-top: 6px;
}
.search-bar {
    border: 0px solid;
    outline-style: none;
    font-family: arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    position: relative;
    justify-content: center;
    width: 490px;
    height: 29px;
    display: flex;
    margin: 0;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 0px;
    background-clip:border-box;
    background-origin:padding-box;
    font-size: 13px;
    flex-wrap: wrap;
    font-size: 13px;
}
.search-voice {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    height: 30px;
}
.link {
    display: flex;
    align-items: center;
    margin-left: 80px;
    height: 70px;
    width: 487px;
    font-size: 13px;
    justify-content: center;
}
.link-g {
    align-items: flex-start;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-stretch: 100%;
    height: 36px;
    width: 130px;
    margin-bottom:11px;
    writing-mode: horizontal-tb;
    margin-left:4px;
    margin-right:10px;
    margin-top:11px;
    padding-left:16px;
    padding-right:16px;
    padding-top:7px;
    text-align:center;
    text-decoration: none;
    color: black;
}
.link-f {
    align-items: flex-start;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-stretch: 100%;
    height: 36px;
    width: 150px;
    margin-bottom:11px;
    writing-mode: horizontal-tb;
    margin-left:4px;
    margin-right:4px;
    margin-top:11px;
    padding-left:16px;
    padding-right:16px;
    padding-top:7px;
    text-align:center;
    text-decoration: none;
    color: black;
}
.languages {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(26, 13, 171);
}
footer {
    background-color:rgb(242, 242, 242);
    background-origin: padding-box;
    border-top-color:rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    bottom:0px;
    color:rgb(95, 99, 104);
    display: block;
    font-family:arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    position:absolute;
    width: 1365px;
}
.nig {
    padding-top: 5px;
    padding-left: 27px;
}
hr {
    border: 0.5px solid;
    border-color: rgb(228, 228, 228);
}
#left-side a {
    padding-left: 27px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(95, 99, 104);
}
#right-side a {
    float: right;
    text-decoration: none;
    color: rgb(95, 99, 104);
    font-size: 14px; 
    padding-right: 27px;
}